* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background-color: rgb(255, 255, 255);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}

.box {
	background-color: rgba(114, 114, 114, 0.556);
	display: flex;
	flex-direction: column;
	padding: 25px 25px;
	border-radius: 20px;
	box-shadow: 0 0 128px 0 rgb(0, 0, 0, 0.1), 0 32px 64px -48px;
}

.form-box {
	width: 450px;
	margin: 0px;
}

.form-box header {
	font-size: 25px;
	font-weight: 600;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	margin-bottom: 10px;
}

.login-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login-header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.login-header ul li a {
	text-decoration: none;
	color: inherit;
}


.form-box form .field {
	display: flex;
	margin-bottom: 10px;
	flex-direction: column;
}

.form-box form .input input {
	height: 40px;
	width: 100%;
	font-size: 16px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid white;
	outline: none;
}

.btn {
	height: 35px;
	background-color: rgb(0, 212, 0);
	border: 0;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	transition: all 0.4s;
	margin-top: 10px;
	padding: 0px 10px;
}

.btn:hover {
	background-color: rgb(255, 145, 0);
	color: black;
}

.submit {
	width: 100%;
}

.link {
	margin-bottom: 15px;
	color: rgb(255, 145, 0);
}

.link a {
	color: rgb(255, 145, 0);
}