html {
    height: 100%;
    width: 100%;
}

#logo {
    float: left; /* Align logo to the very left */
    margin-right: 10px; /* Add space between logo and posid */

}

#logo img {
	width: 40%;
	height: 60%;
}

#logo li {
    list-style-type: none; /* Remove bullet point from logo list item */
    font-size: 10px; /* Set font size for the logo element */

}

#posid {
    float: right; /* Align posid to the right */
}

#posid li {
    display: inline;
    margin-right: auto; 
    font-size: 18px; /* Set font size for the posid elements */
}

#posid a {
    text-decoration: none; /* Remove underline from posid links */
    color: black; /* Set color to black for posid links */
}
